#
# Colorlight-i5 on MuseLab extension board
#

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

SYSCONFIG COMPRESS_CONFIG=ON;

LOCATE    COMP "osc"		SITE "P3";
IOBUF     PORT "osc"		IO_TYPE=LVCMOS33;
FREQUENCY PORT "osc"		25 MHZ;

LOCATE COMP "led_n"		SITE "U16";
IOBUF  PORT "led_n"		IO_TYPE=LVCMOS25;

# UART, DAPLink at P5

LOCATE COMP "UART_tx"		SITE "J17";
LOCATE COMP "UART_rx"		SITE "H18";

IOBUF  PORT "UART_tx"		IO_TYPE=LVCMOS33;
IOBUF  PORT "UART_rx"		IO_TYPE=LVCMOS33;
