#
# Colorlight-i5 on MuseLab extension board
#

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

SYSCONFIG COMPRESS_CONFIG=ON;

LOCATE    COMP "osc"		SITE "P3";
IOBUF     PORT "osc"		IO_TYPE=LVCMOS33;
FREQUENCY PORT "osc"		25 MHZ;

LOCATE COMP "led_n"		SITE "U16";
IOBUF  PORT "led_n"		IO_TYPE=LVCMOS25;  # must be same as LCD_mosi

# UART, DAPLink at P5

LOCATE COMP "UART_tx"		SITE "J17";
LOCATE COMP "UART_rx"		SITE "H18";

IOBUF  PORT "UART_tx"		IO_TYPE=LVCMOS33;
IOBUF  PORT "UART_rx"		IO_TYPE=LVCMOS33;

# TFT LCD 240x240, ST7789, SPI mode on PMOD P2A
#
# TODO: Use Type 2 Pmod? DC on IO7, BLK on IO8

LOCATE COMP "LCD_reset_n"	SITE "K18";	# PMOD_P2A_IO4, P2_3
LOCATE COMP "LCD_io3"		SITE "T18";	# PMOD_P2A_IO3, P2_4
LOCATE COMP "LCD_io2"		SITE "R17";	# PMOD_P2A_IO2, P2_5
LOCATE COMP "LCD_backlight"	SITE "M17";	# PMOD_P2A_IO1, P2_6

LOCATE COMP "LCD_cs_n"		SITE "P17";	# PMOD_P2A_IO5, P2_25
LOCATE COMP "LCD_mosi"		SITE "R18";	# PMOD_P2A_IO6, P2_26
LOCATE COMP "LCD_dc"		SITE "C18";	# PMOD_P2A_IO7, P2_27
LOCATE COMP "LCD_clock"		SITE "U18";	# PMOD_P2A_IO8, P2_28

IOBUF  PORT "LCD_reset_n"	PULLMODE=UP	IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "LCD_io3"		PULLMODE=UP	IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "LCD_io2"		PULLMODE=UP	IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "LCD_backlight"	PULLMODE=UP	IO_TYPE=LVCMOS33 DRIVE=4;

IOBUF  PORT "LCD_cs_n"		PULLMODE=UP	IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "LCD_mosi"		PULLMODE=UP	IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "LCD_dc"		PULLMODE=UP	IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "LCD_clock"		PULLMODE=DOWN	IO_TYPE=LVCMOS33 DRIVE=4;

